.choice-container {
    display: flex;
    margin-bottom: 0.2rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.5rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(red, green, blue, alpha);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1rem;
    background-color: blue;
    color: white
}

.choice-text {
    padding: 1.5rem;
    width: 100%
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-evenly;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progress-bar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0px;
}